.navbar-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-left: auto;
}

.navbar-link {
  color: var(--font-colour-title);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 45rem) {
  .navbar-links {
    display: none;
  }
}
