.navbar {
  color: var(--font-colour-title);
  background-color: var(--navbar-background);
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-title {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
}

