.navbar {
  padding: 1rem;
  display: flex;
}

.nav-icon {
  width: 2rem;
}

.recipes-nav {
  color: var(--font-colour-title);
  margin-left: auto;
}
.recipes-nav:hover {
  color: var(--font-link-hover);
}
