@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[data-theme="light"] {
  --main-background: hsl(57, 72%, 85%);
  --font-colour: hsl(161, 100%, 3%);
}

[data-theme="dark"] {
  --main-background: hsl(190, 100%, 23%);
  --navbar-background: hsl(197, 100%, 5%);
  --font-colour-main: hsl(45, 60%, 78%);
  --font-colour-title: hsl(5, 81%, 38%);
  --font-link-hover: hsl(57, 72%, 85%);
  --search-background: hsl(333, 21%, 92%);
}

.App {
  font-family: "Montserrat", sans-serif;
  color: var(--font-colour-main);
  background-color: var(--main-background);
  min-height: 100vh;
}
