@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[data-theme="light"] {
  --main-background: hsl(57, 72%, 85%);
  --font-colour: hsl(161, 100%, 3%);
}

[data-theme="dark"] {
  --main-background: hsl(222, 26%, 31%);
  --navbar-background: hsl(223, 31%, 20%);
  --font-colour-one: hsl(0, 0%, 100%);
  --font-colour-two: hsl(221, 14%, 31%);
  --font-colour-three: hsl(6, 63%, 50%);
  --search-background: hsl(224, 36%, 15%);
  --category-background: hsl(225, 21%, 49%);
}

.App {
  font-family: "Montserrat", sans-serif;
  color: var(--font-colour-one);
  background-color: var(--main-background);
  min-height: 100vh;
}
